
    <div class="formWrapper">
        <form name="testForm">
        <input type="input" class="formRow" name="user_name" placeholder="Name" style="border-bottom:0px !important;">
        <input type="input" class="formRow" name="user_email" placeholder="Email" style="border-bottom:0px !important;">
        <input type="password" class="formRow" name="user_password" placeholder="Password" style="width:301px !important">

        <br />
        <input type="submit" name="Submit" value="Next" class="Next">
        </form>
    </div>


<br /><br /><br /><br />
         <p>{{ message2 }}</p>
