<div class="formWrapper">
    <form ng-submit="setData();redirect('/step2');">
    <input type="input" class="formRow" ng-model="step1.user_name" placeholder="Name" style="border-bottom:0px !important;">
    <input type="input" class="formRow" ng-model="step1.user_email" placeholder="Email" style="border-bottom:0px !important;">
    <input type="password" class="formRow" ng-model="step1.user_password" placeholder="Password" style="width:301px !important">

    <br />
    <input type="submit" name="Submit" value="Next" class="Next">
    </form>
</div>