 ::-webkit-input-placeholder {
   color: #9F9F9F;
}
:-moz-placeholder { /* Firefox 18- */
   color:#9F9F9F; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color:#9F9F9F; 
}
:-ms-input-placeholder {  
   color:#9F9F9F;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
   //background-color:#333333;
    display:block;
}

.event.received {
    //background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
/* .blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
 */
.formWrapper{
/*	//border:1px #999 solid !important;
	//border-right:1px #999 solid !important; */
	background:#fff;
	padding:0px;
	margin:0 0 20px 70px;
}

.test{
    font:normal 22px HelveticaLight;
    color:gray;
    margin:18px 0 0 13px;
    display:inline;
    float:left;
}

.formRow{
	font:normal 25px HelveticaLight;
	color:green;
	height:60px;
	width:300px;
	border:1px solid #999;
	padding-left:10px;
}

.formSelect{
    font:normal 25px HelveticaLight;
    color:gray;
    height:60px;
    width:160px;
    border:1px solid #999;
    padding-left:10px;
    margin-right:95px;
    float:right;
}

.smallformRow{
    font:normal 25px HelveticaLight;
    color:green;
    height:60px;
    width:147.5px !important;
    float:right;
    margin-right:95px;
    border:1px solid #999;
    padding-left:10px;
}


.Next{border:1px solid green;font:normal 25px HelveticaLight;color:green;height:60px;width:312px;background:#fff;margin-top:20px;}

.header{position:absolute;top:0;left:0; width:100%;border-bottom:1px #999 solid;}
.header p{margin:6px 0 0 120px;font:normal 20px HelveticaLight;}
.header img{float:left;margin-left:10px;cursor:pointer;}

.info{
    border: 1px solid;margin: 10px 0px;
    padding:10px;color: #00529B;width:314px;height:60px;
    background-color: #BDE5F8;list-style: none;
}
.err{
    border:1px solid;margin: 10px 0px;
    padding:10px;color:#D8000C;width:314px;height:60px;
    background-color:#FFBABA;list-style: none;
}

.clear {overflow:hidden; display:block; clear:both; height:0px; font-size:0px; line-height:0px}
